<br><br>
<div class="header-container">
    <h1>MARCHÉ</h1>
</div>

<div class="content">
    <div class="button-container">
        <button class="fixed-size-btn">Fruits</button>
        <button class="fixed-size-btn">Légumes</button>
    </div>
    
    <div class="list-container">
        <div *ngFor="let profile of profiles;" class="card-container">
            <div class="img-container">
                <img src="{{ profile.itemImage }}" alt="image">
            </div>
            <div class="card-infos">
                <div class="infos-container">
                    <div class="card-header">
                        <br><br>
                        <h3 style="text-shadow: 1px 10px 5px rgba(0, 0, 0, 0.25); color:rgb(255, 255, 255);"><b>{{ profile.itemName }}</b></h3>
                        <hr style="margin-right:10px;">
                        <br>
                        <p style="color:rgb(201, 201, 201);">{{ profile.itemDescription }}/{{ profile.itemDescription}}</p>
                        <p>Unité: {{ profile.quantity}}</p>
                        <br>
                        <p style="font-size: 50px;">{{ profile.itemPrice }}</p>
                        <br>
                        <div class="card-contact">
                            <button>
                                <span class="material-icons-outlined">
                                    shopping_cart
                                </span>
                                Ajouter
                            </button>
                            <button>
                                <span class="material-icons-outlined">
                                    visibility
                                </span>
                                Voir plus de détails
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
