<div class="navbar">

</div>
<div class="sub-navbar">
    <div class="block-title">
        <!-- <h2>Expertise Matchmaker</h2> -->
    </div>
    <div class="content">
        <div class="logo-container">
            <a href="/acceuil">
                <img src="../../../assets/logo.png" alt="">
            </a>
        </div>
        <a href="/acceuil">Accueil</a>
        <a href="/acheter">Acheter</a>
        <a href="/vendre">Vendre</a>
        <!-- <a href="/analytics">Analytics</a> -->
        <a href="/login">Log Out</a>
    </div>
</div>