.navbar {
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
}

.logo-container {
    margin : 0 20.5px;
    padding: 0 60px;
    width: 10px; /* Set the desired width */
    height: 10px; /* Set the desired height */
    img {
        width: 58px; /* Set the desired width */
        height: 44px; /* Set the desired height */
    }
}

.sub-navbar {
    padding: 0 60px;
    background-color: #144801;
    color: #ffffff;
    padding: 10px;
    border-bottom: 5px solid #0d3b03;
}

.sub-navbar a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
}

.block-title {
    display: flex;
}

.block-title h2 {
    margin: 0;
    padding: 1em;
    background: #1487b4;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.block-title h2:hover {
    cursor: pointer;
}

.content {
    display: flex;
    margin: 0;
}

.content a {
    color: #ffffff;
    padding: 1em;
    text-decoration: none;
}

.content a:hover {
    background: #33f70b;
    color: black;
}
